/* template-color */

.preloader-close{
	color: #82bbd2;
}

.header-top .right-column .option-box ul{
	border-top: 2px solid #82bbd2;
}

.header-top .right-column .option-box ul li a:hover{
  color: #82bbd2;
}

.header-top .right-column .login-info a:hover{
  color: #82bbd2;
}

.theme-btn.btn-one{
	background-color: #82bbd2;
}

.header-upper .info-list li.place-box i{
	color: #789f7b;
}

.header-upper .info-list li h5 span{
  color: #82bbd2;
}

.main-header .nav-right .shop-cart a span{
	background-color: #82bbd2;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
	border-top: 3px solid #82bbd2;
}

.main-menu .navigation > li > ul > li > a:hover{
	background-color: #82bbd2;
}

.main-menu .navigation > li > .megamenu li > a:hover{
	color: #82bbd2;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  background-color: #82bbd2;
}

.main-menu .navigation > li > ul > li > ul{
	border-top: 3px solid #82bbd2;
}

.main-menu .navigation > li > a:before{
	background-color: #82bbd2;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #82bbd2 !important;
}

.image_block_1 .image-box .video-btn a{
	background-color: #789f7b;
	border: 5px solid #5d8260;
}

.sec-title h2 span{
  color: #789f7b;
}

.content_block_1 .content-box .inner-box .inner h5 i{
	color: #789f7b;
}

.service-block-one .inner-box:hover .link a{
  color: #82bbd2;
}

.sec-title h5{
	color: #789f7b;
}

.theme-btn.btn-two:hover{
	border-color: #82bbd2;
}

.content_block_2 .content-box .text h3:before{
	background-color: #82bbd2;
}

.content_block_3 .content-box h3{
	color: #789f7b;
}

.chooseus-section .tab-btns li.active-btn{
  background-color: #82bbd2;
}

.sec-title h6{
	color: #789f7b;
}

.case-block-one .inner-box .content-box h2 a:hover{
  color: #82bbd2;
}

.single-progress-box .piechart span{
	color: #82bbd2;
}

.image_block_2 .image-box .text{
	background-color: #789f7b;
}

.team-block-one .inner-box .designation{
	background-color: #82bbd2;
}

.team-block-one .inner-box .text h4 a:hover{
  color: #82bbd2;
}

.team-block-one .inner-box .text .social-links li a:hover{
  color: #82bbd2;
}

.cta-section .text h2 i{
	color: #789f7b;
}

.cta-section .text h2 span{
	color: #789f7b;
}

.cta-section .btn-box .theme-btn:hover{
  color: #82bbd2 !important;
}

.scroll-top{
	background-color: #82bbd2;
}

.news-block-one .inner-box .lower-content .info li span{
  color: #789f7b;
}

.news-block-one .inner-box .lower-content h5 a:hover{
  color: #82bbd2;
}

.footer-top .text i{
	color: #789f7b;
}

.footer-top .text h3 span{
  color: #82bbd2;
}

.main-footer .widget-section .links-widget .links-list li a:hover{
  color: #82bbd2;
}

.main-footer .widget-section .contact-widget .info-list li a:hover{
  color: #82bbd2;
}

.footer-bottom p a{
  color: #82bbd2;
}

.main-header.style-two .social-links li a:hover{
  color: #82bbd2;
}

.main-header .menu-right-content .shop-cart a:hover{
  background-color: #82bbd2;
  border-color: #82bbd2;
}

.banner-style-two .schedule{
	color: #789f7b;
}

.banner-style-two .place-box .text i{
	color: #789f7b;
}

.service-style-two .sec-title i{
	color: #789f7b;
}

.service-block-two .inner-box .icon-box .link{
	color: #82bbd2;
}

.service-block-two .inner-box:hover .icon-box .bg-layer:before{
	background-color: #82bbd2;
}

.service-block-two .inner-box .icon-box .link:hover{
  background-color: #82bbd2;
}

.service-block-two .inner-box .lower-content h3 a:hover{
  color: #82bbd2;
}

.pricing-block-one .pricing-table .table-content .featured-list li i{
	color: #789f7b;
}

.video-section .sec-title i{
  color: #789f7b !important;
}

.testimonial-block-one .inner-box .icon-box{
	color: #82bbd2;
}

.testimonial-block-one .inner-box .review-box .rating li{
	color: #f6cc0a;
}

.testimonial-block-one .inner-box .text h3 span{
  color: #82bbd2;
}

.content_block_5 .content-box h3{
	color: #789f7b;
}

.main-header.style-three  .header-top .right-column .login-info a:hover{
  color: #82bbd2;
}

.banner-carousel .content-box .content-shape .shape-1{
	background-color: #82bbd2;
}

.banner-carousel .content-box .content-shape .shape-2{
	background-color: #789f7b;
}

.banner-carousel .content-box .content-shape .shape-3{
	background-color: #82bbd2;
}

.service-style-three .sec-title i{
	color: #789f7b;
}

.service-block-two .inner-box .lower-content .link a:hover{
	color: #82bbd2;
}

.case-block-two .inner-box .image-box{
	background-color: #82bbd2;
}

.case-block-two .inner-box .content-box h3{
	background-color: #82bbd2;
}

.testimonial-section.alternat-2:before{
	background-color: #789f7b;
}

.theme-btn.btn-two:before{
	background-color: #82bbd2;
}

.video-section:after{
	background-color: #789f7b;
}

.page-title .content-box .shape-1{
	background-color: #82bbd2;
}

.page-title .content-box .shape-2{
	background-color: #789f7b;
}

.page-title .content-box .shape-3{
	background-color: #82bbd2;
}

.page-title .place-box .text i{
	color: #789f7b;
}

.case-details-content .post-tags .tags-list li a:hover{
  background-color: #82bbd2;
  border-color: #82bbd2;
}

.default-sidebar .widget-title h5:before{
	background-color: #789f7b;
}

.default-sidebar .search-widget .search-inner .form-group input:focus{
  border-color: #82bbd2 !important;
}

.default-sidebar .search-widget .search-inner .form-group input:focus + button,
.default-sidebar .search-widget .search-inner .form-group button:hover{
	color: #82bbd2;
}

.default-sidebar .category-widget .category-list li a:hover{
  background-color: #82bbd2;
}

.default-sidebar .post-widget .post .post-thumb{
	background-color: #82bbd2;
}

.default-sidebar .post-widget .post h6 a:hover{
  color: #82bbd2;
}

.default-sidebar .video-widget .inner-box a{
	background-color: #789f7b;
}

.default-sidebar .video-widget .inner-box .icon-box{
	color: #789f7b;
}

.appointment-section .inner-container h3{
	color: #82bbd2;
}

.appointment-section .inner-container .form-group input:focus,
.appointment-section .inner-container .form-group textarea:focus{
  border-color: #82bbd2 !important;
}

.accordion-box .block .acc-btn .icon-outer:before{
	background-color: #82bbd2;
}

.service-details-content .content-two blockquote .icon-box{
	color: #789f7b;
}

.service-details-content .content-two blockquote h3{
	color: #789f7b;
}

.service-details-content .content-two .list li:before{
	color: #789f7b;
}

.service-details-content .post-tags .tags-list li a:hover{
	background-color: #82bbd2;
	border-color: #82bbd2;
}

.blog-details-content .content-one .info li span{
	color: #789f7b;
}

.blog-details-content blockquote{
	background-color: #789f7b;
}

.blog-details-content .video-inner .video-btn a{
	background-color: #82bbd2;
}

.blog-details-content .post-tags .tags-list li a:hover{
	background-color: #82bbd2;
	border-color: #82bbd2;
}

.blog-details-content .comments-area .comment .comment-info li a:hover{
  color: #82bbd2;
}

.blog-details-content .comments-form-area .form-group input:focus,
.blog-details-content .comments-form-area .form-group textarea:focus{
  border-color: #82bbd2 !important;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{
	border-color: #82bbd2 !important;
}